#everythingList {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 124px;
	line-height: 108px;
	letter-spacing: 2px;
	text-align:center;
    text-shadow: #DDD 3px 3px 3px;	
	color: #444;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    font-weight: 100;
}

p:first-letter{
	text-transform: uppercase;
}
.listName {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	letter-spacing:0.2em;
	margin: 30px auto;
	text-transform: lowercase;
	line-height: 10%;
	font-size: 20pt;
	font-variant: small-caps;
}

.listDesc {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	margin: 30px auto;
	font-size: 16px;
	line-height: 10%;
	margin-top: .5em; 
	letter-spacing: 0.1em;
	color: #424242;
}

/* Text Box with Background Color: */
.searchbox {
    border: 2px solid #424242;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 30px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing:0.2em;
	height: 40px;
    width: 40%;
    padding-top:2px;
	margin-left: 30%;
}

.textbox {
    border: 0px solid #424242;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing:0.2em;
	height: 40px;
    width: 400px;
    padding-top:2px;
}

hr.hr2 {
  color: #424242;
  background-color: #424242;
  height: 0.5px;
}

/* Home Page Create List Link */
#createlist a:link, #createlist a:visited {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 20px;
	width: 40%;
	color: #424242;
	font-variant: small-caps;	
	text-align: center;
	margin-left: 30%;
}

#createlist  a:hover {
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 20px;
	width: 40%;
	font-weight: bold;
	font-variant: small-caps;	
	text-align: center;
	margin-left: 30%;
}

/* Tool Tip Section */
a.tooltip{
    position:relative; /*this is the key*/
    z-index:24; background-color:#fff;
    color:#000;
    text-decoration:none}

a.tooltip:hover{z-index:25; color:#fff; background-color:#424242}

a.tooltip span{display: none}

a.tooltip:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    border:2px solid #F0F0F0;
    background-color:#fff; 
    color:#424242;
    text-align: center
}
/*Round Edge Table*/
#one-column-emphasis
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
	margin: 45px;
	width: 40%;
	text-align: left;
	border-collapse: collapse;
	margin-left: 30%;
}
#one-column-emphasis th
{
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 12px 15px;
	color: #444;
    text-shadow: #DDD 3px 3px 3px;		
}
#one-column-emphasis td
{
	font-size: 20px;	
	padding: 10px 15px;
	color: #424242;
	
}
#one-column-emphasis tr:hover
{
	border:1px solid #444;
}
