
<div id="textbox">
	<input type="text" id="searchbox" value="type search here" class="searchbox" onfocus="this.value==this.defaultValue?this.value='':null">
</div>

<div id="createlist">
	<%=link_to "Create List", {:controller => "lists", :action => "new"} %>			
</div>

<div id="home-lists">

  <% for list in @lists %>
    <%= link_to list.name + "<span>#{list.description}</span>" , {:controller => 'lists', :action => 'show', :id => list.id}, :class => 'tooltip' %><br/>
  <% end %>
	
</div>