<div id="textbox">
	<input type="text" id="searchbox" value="type search here" class="searchbox" onfocus="this.value==this.defaultValue?this.value='':null">
</div>
<div id="createlist">
	<%=link_to "Create List", {:controller => "lists", :action => "new"} %>
</div>
<p>
	<br>
	<br>
	<br>
</p>
