<html>
<head>
	<title>Everything Lists</title>
	<%= stylesheet_link_tag 'everythinglist' %>
	<%= javascript_include_tag :defaults %> 
	
</head>
<body>
	<div id="everythingList">
		Everything List
	</div>
	<br/>
    <hr class="hr2" />
<br/><br/>
<%= yield %>
</body>
</html>